body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
  color: #61dafb;
}

#clock {
  font-size: 7em;
  letter-spacing: 5px;
  box-shadow: 2px 2px 2px 2px white;
}